<!DOCTYPE HTML>

<html>
<head>
    <link rel="icon" type="image/png" href="Content/favicon.ico" />
    <title>Web Dashboard - Public Demo | DevExpress</title>

    <link href="@Url.Content("~/Content/styles.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Content/scripts.js")" type="text/javascript"></script>

    @Html.DevExpress().GetStyleSheets("light", new StyleSheet() { ExtensionType = ExtensionType.Dashboard })
    @Html.DevExpress().GetScripts(new Script() { ExtensionType = ExtensionType.Dashboard })


    <script src="@Url.Content("~/Content/downloadAndSaveAsExtension.js")" type="text/javascript"></script>

</head>

<body>
    @RenderBody()
    <div id="popupContainer">
        <div id="textBoxContainer"></div>
    </div>
</body>
</html>
